.App {
    box-sizing: border-box;
    width: 100vw;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    padding: 0.7em;
    border-bottom: 0.2em solid #50514F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button--create-palette {
    font-size: 1em;
    color: var(--color-foreground);
    background-color: var(--color-background);
    font-weight: 800;
    padding: 0.8em;
    margin: 1em;
    border-radius: 1.5em;
    border: 0.3em solid #50514F;
    cursor: pointer;
}

.button--create-palette:hover {
    filter: brightness(0.95);
}

.button--create-palette:active {
    filter: brightness(0.85);
}

.palette-container {
    margin: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}