.Palette {
    font-weight: 700;
    color: var(--color-foreground);
    height: 20em;
    width: 20em;
    margin: 1em;
    border-radius: 1.5em;
    border: 0.2em solid #50514F;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.palette-header {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    place-content: center;
}

.palette-info {
    width: 100%;
    padding-block: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.palette-name {
    margin: 1em;
    display: inline;
}

.button--palette-settings {
    display: inline;
}

.color-codes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.color-codes--rgb {
    padding: 0.3em;
    margin-inline: 1em;
    cursor: pointer;
}

.color-codes--hex {
    padding: 0.3em;
    margin-inline: 1em;
    cursor: pointer;
}

.selected-code {
    border-radius: 0.8em;
    border: 0.17em solid var(--color-foreground);
}

.color-entry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button--add-color {
    height: 2em;
    width: 2em;
    padding: 0;
    margin: 0.5em;
    border-radius: 0.5em;
}

.color-container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
}