:root {
    --color-foreground: #50514F;
    --color-background: #F7F9F9;
}

body {
    margin: 0;
}

button {
    color: var(--color-foreground);
    background-color: var(--color-background);
    font-weight: 600;
    padding: 0.3em;
    border-radius: 1.5em;
    border: 0.2em solid #50514F;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.95);
}

button:active {
    filter: brightness(0.85);
}




.App {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    height: 10%;
    width: 100%;
    padding: 0.7em;
    border-bottom: 0.2em solid #50514F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button--create-palette {
    color: var(--color-foreground);
    background-color: var(--color-background);
    font-weight: 700;
    padding: 1em;
    margin: 3em;
    border-radius: 1.5em;
    border: 0.2em solid #50514F;
    cursor: pointer;
}

.button--create-palette:hover {
    filter: brightness(0.95);
}

.button--create-palette:active {
    filter: brightness(0.85);
}

.palette-container {
    margin: 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.Palette {
    font-weight: 700;
    color: var(--color-foreground);
    height: 20em;
    width: 20em;
    margin: 1em;
    border-radius: 1.5em;
    border: 0.2em solid #50514F;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.palette-header {
    width: 100%;
    display: grid;
    place-content: center;
}

.palette-info {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.palette-name {
    margin: 1em;
    display: inline;
}

.button--palette-settings {
    display: inline;
}

.palette-color-code {
    margin: 0;
}

.PaletteSettingsMenu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input--palette-name {
    width: 35%;
    margin-inline: 1em;
}